body {
  position: relative;
  font-family:  "Nunito Sans", sans-serif;
  /* font-family: 'NEXTART'; */
}
.lock {
  z-index: 999;
  overflow: hidden;
}
.wrapper-content {
  padding: 80px 0 100px;
}
.subtitle {
  font-size: 24px;
  line-height: 20px;
  color: #F2BE22;
  margin-bottom: 8px;
}
.text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;
}
.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 40px;
}
.btn {
  background-color: #1A3E3E;
  color: white;
  padding: 16px 36px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transition: 0.4s;
  border: 1px solid #1A3E3E;
}
.btn:hover {
  background-color: white;
  color: #1A3E3E;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px;
}
.header {
  position: absolute;
  right: 0;
  left: 0;
}
.header__inner {
  padding-top: 16px;
  color: white;
  align-items: center;
  display: flex;
}
.header__inner div:first-child {
  margin-right: auto;
}
.header__inner div:nth-child(1) {
  display: flex;
  flex-direction: column-reverse;
}
.header__logo {
  margin-right: auto;
}
.header__nav {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.55px;
  margin-right: 49px;
}
.header__list {
  display: flex;
  gap: 24px;
}
.header__item img {
  display: none;
  position: absolute;
  top: 6px;
  left: -15px;
}
.header__item {
  position: relative;
  transition: 0.2s;
}
.header__item:hover {
  color: #F2BE22;
}
.header__item-link {
  font-weight: 600;
  font-size: 18px;
}
.header__btn {
  padding: 12px 24px;
}
.burger__menu-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}
.burger__menu-btn span {
  position: absolute;
  background-color: white;
  width: 30px;
  bottom: 13px;
  left: 0;
  border-radius: 10px;
  height: 5px;
  transition: all 0.6s;
}
.burger__menu-btn span:nth-child(1) {
  top: 0;
}
.burger__menu-btn span:nth-child(3) {
  bottom: 0;
  width: 50%;
  left: unset;
  right: 0;
}
.burger__menu-btn.active span:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.burger__menu-btn.active span:nth-child(2) {
  opacity: 0;
}
.burger__menu-btn.active span:nth-child(3) {
  width: 100%;
  transform: translateY(-15px) rotate(45deg);
}
.hero {
  display: grid;
  background-image: url("../images/hero-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: end;
  height: 944px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 41px;
  margin-bottom: 90px;
}
.hero__title {
  font-family: 'NEXTART';
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
}
.hero__form {
  display: flex;
  gap: 24px;
  border-radius: 10px;
  background-color: #FFFFFF33;
  backdrop-filter: blur(6px);
  padding: 40px;
}
.form__btn {
  border-radius: 4px;
  background-color: white;
  color: #1A3E3E;
  font-weight: 700;
  padding: 0;
  width: 213px;
  height: 52px;
  transition: 0.2s;
}
.form__btn:hover {
  background-color: #1A3E3E;
  color: white;
  border: 1px solid white;
}
.form__location-select {
  background-color: white;
  color: black;
}
.form {
  width: 100%;
}
.choices {
  margin-bottom: 0;
}
.is-flipped.is-open .choices__inner{
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.is-open .choices__inner{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.choices__inner {
  background-color: unset;
  border-radius: 8px;
}
.choices__list--dropdown {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.choices[data-type*=select-one]:after {
  top: 40%;
  width: 10px;
  height: 10px;
  z-index: 3;
  border: 1px solid white;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}
.choices[data-type*=select-one].is-open:after {
  top: 60%;
  border: 1px solid white;
  border-width: 2px 2px 0 0;
}
.choices__list--dropdown .choices__list div:nth-child(1) {
  background-color: #112929;
  color: white;
}
.choices__list--dropdown  {
  color: #1A3E3E;
  font-weight: 700;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color:#1A3E3E;
  color: white;
}
.choices__list--single {
  padding: 5px 9px;
}
.choices__placeholder {
  opacity: unset;
  font-weight: 700;
  font-size: 16px;
}
.form-subtitle {
  padding: 5px 8px 0;
}
.hero__data {
  width: 100%;
}
.data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid white;
  border-radius: 8px;
  padding: 13px;
}
.data__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about__wrapper {
  display: flex;
  gap: 120px;
}
.about__pictures {
  width: 480px;
  position: relative;
  display: flex;
}
.about__picture-rears {
  position: absolute;
}
.about__picture-front {
  position: absolute;
  bottom: 0;
  right: 0;
}
.about__picture-btn {
  position: absolute;
  inset: 0;
}
.about__picture-btn a {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  border-radius: 50%;
  background-color:  #FDFDFD99;
  height: 50px;
  width: 50px;
}
.about__content {
  flex-basis: 580px;
  padding: 64px 0;
}

.offer__wrapper {
  display: flex;
  gap: 80px;
}
.offer__pictures {
  margin: auto;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}
.offer__content {
  flex-basis: 580px;
}
.offer__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offer__item {
  display: flex;
}
.offer__item img {
  margin-right: 14px;
}
.offer__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.offer__item-subtitle {
  font-size: 14px;
  line-height: 20px;
}
.offer__btn {
  margin-top: 40px;
}

.popular__wrapper {
  text-align: center;
}
.popular__swiper {
  margin-bottom: 50px;
}
.popular__stars {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #FDFDFD66;
  backdrop-filter: blur(4px);
  padding: 6px 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  top: 50px;
  right: 0;
}
.popular__overlay {
  position: absolute;
  background: #FFFFFF33;
  backdrop-filter: blur(6px);
  top: 80%;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1.8s;
}
.popular__card:hover .popular__overlay {
  top: 0%;
}
.overlay__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay__info div {
  text-align: left;
}
.overlay__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}
.overlay__subtitle {
  font-size: 14px;
}
.overlay__prices {
  background: #FFFFFF4D;
  padding: 8px 15px;
  border-radius: 4px;
}
.overlay__text {
  text-align: left;
}
.overlay__btn {
  text-align: left;
}
.overlay__btn button {
  padding: 12px 24px;
}
@media (max-width:1050px) {
  .popular__overlay {
    padding: 22px;
  }
  .overlay__title {
    font-size: 21px;
  }
  .overlay__text {
    font-size: 13px;
  }
  .overlay__subtitle {
    display: none;
  }
  .overlay__prices {
    padding: 5px 10px;
  }
  .overlay__btn button {
    font-size: 13px;
  }
}
@media (max-width:900px) {
  .popular__swiper {
    display: flex;
  }
  .popular__card {
    flex: 1 0 285px;
  }
}


.blog__wrapper {
  text-align: center;
}
.blog__content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 50px;
}
.blog__box {
  display: flex;
  gap: 24px;
}
.blog__img img {
  height: 280px;
  width: 230px;
}
.blog__item {
  display: flex;
  flex: 1 1 380px;
  padding: 16px;
}
.blog__item-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 294px;
  justify-content: space-between;
  padding: 16px 0;
  margin-right: 10px;
}
.blog__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.blog__item-link:hover,
.blog__item-title:hover {
  text-decoration: underline 1px;
}
.blog__item-text {
  font-size: 14px;
}
.blog__item-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}
.blog__item-time {
  color: #F2BE22;
}
.blog__item-link {
  color: #1A3E3E;
}

.gallery__wrapper {
  text-align: center;
}
.gallery__content.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
  gap: 16px;
}
.gallery__content.swiper-wrapper div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.gallery__content.swiper-wrapper div:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
}
.gallery__img img{
  height: 100%;
}

.news__wrapper {
  position: relative;
  background-color: white;
  margin-bottom: -97px;
  border-radius: 6px;
}
.news__content {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.news__box {
  flex-basis: 380px;
}
.news__form {
  flex-basis: 536px;
}
.news__form div {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.news__form-btn {
  padding: 12px 24px;
}
.news__form-input {
  color: #1A3E3E;
  padding: 12px 16px;
  width: 280px;
}
.news__form-text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
}
.news__form-text span {
  text-decoration: underline;
}
.news__title {
  font-size: 26px;
  font-weight: 800;
  line-height: 31.2px;
}

.footer {
  background-color: #1A3E3E;
}
.footer__top {
  padding: 178px 0 80px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__content div:first-child {
  flex-basis: 480px;
}
.footer__item {
  color: white;
  flex-basis: 290px;
}
.footer__item-new {
  background-color: white;
  color: #1A3E3E;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  transition: 0.2s;
}
.footer__link:hover {
  color: #F2BE22;
  text-decoration: underline 1px #F2BE22;
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
.footer__text {
  font-size: 14px;
  margin-bottom: 80px;
}
.footer__list {
  display: grid;
  gap: 16px;
}
.footer__contacts {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
  flex-wrap: wrap;
  text-decoration: underline 1px;
  transition: 0.2s;
}
.footer__contacts span:hover,
.footer__contacts div:hover {
  color: #F2BE22;
  text-decoration: underline 1px #F2BE22;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__bottom {
  padding: 24px 0;
  color: white;
  background-color:  #18121E;
}
.footer__bottom div {
  flex-basis: 1180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__bottom-box {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}
.footer__bottom-box:hover {
  color: #F2BE22;
  text-decoration: underline 1px #F2BE22;
}

@media (max-width:1024px) {
  .wrapper-content {
    padding: 50px 0;
  }
  .text,
  .title {
    margin-bottom: 20px;
  }
  .header__list {
    z-index: 1;
    background-color: #1A3E3E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 33px;
    gap: 16px;
    transform: translateX(-100%);
    transition: all 1s;
  }
  .header__item-link:hover {
    color: #F2BE22;
    border-bottom: 1px solid #F2BE22;
  }
  .header__list.active {
    transform: translateX(0%);
  }
  .header__list li:nth-child(1) {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .burger__menu-btn {
    z-index: 2;
    display: block;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__form {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
  }
  .hero__content {
    margin-bottom: 50px;
  }
  .header__item img {
    display: block;
    position: absolute;
    top: 6px;
    left: -15px;
  }
  .about__wrapper {
    gap: 60px;
  }
  .offer__wrapper {
    gap: 20px;
  }
  .offer__content {
    flex-basis: 470px;
  }
  .about__pictures div:first-child {
    display: none;
  }
  .about__picture-front {
    position: relative;
  }
  .about__pictures {
    justify-content: center;
    align-items: center;
  }
  .news__content {
    display: block;
    text-align: center;
  }
  .news__box {
    margin-bottom: 20px;
  }
  .news__form {
    text-align: left;
  }
  .news__form-input {
    width: 50%;
  }
  .news__form-btn {
    width: 49%;
  }
  .footer__content {
    justify-content: unset;
    flex-wrap: wrap;
    gap: 35px;
  }
  .footer__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .blog__item {
    flex: 1 1 100%;
  }
  .blog__item-text {
    margin: auto 0 100px;
  }
  .blog__item-info {
    margin: auto 0 0;
  }
}
@media (max-width:900px) {
  .offer__pictures {
    grid-template-columns: 150px;
  }
  .popular__card {
    flex: 1 0 285px;
  }
  .blog__content {
    gap: unset;
    flex-wrap: unset;
  }
  .blog__box {
    display: block;
  }
  .blog__item {
    flex: 1 0 285px;
    padding: 0;
  }
  .blog__item-content {
    height: 230px;
    gap: 16px;
    display: flex;
  }
  .blog__img img {
    width: 100%;
  }
  .blog__item-text {
    margin: unset;
  }
  
}
@media (max-width:768px) {
  .about__wrapper {
    display: grid;
    grid-template-rows: repeat(1, 2fr);
    gap: 40px;
  }
  .about__pictures {
    width: 100%;
  }
  .about__content {
    padding: 0;
    grid-row: 1/2;
  }
  .about__content div:last-child {
    display: flex;
    justify-content: center;
  }
  .offer__content div:nth-child(5) {
    display: flex;
    justify-content: center;
  }
  .text {
    font-size: 16px;
  }
  .subtitle {
    font-size: 16px;
  }
  .title {
    font-size: 24px;
  }
  .hero__form {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__content {
    gap: 32px;
  }
  .hero__title {
    font-size: 32px;
  }
  .gallery__content.swiper-wrapper {
    display: flex;
    gap: 0;
  }
  .gallery__img.swiper-slide {
    flex-basis: 280px;
    height: 250px;
  }
  .gallery__img.swiper-slide img {
    object-fit: cover;
    border-radius: 4px;
  }
  
}
@media (max-width:650px) {
  .footer__bottom div {
    justify-content: center;
    gap: 10px;
  }
  .footer__bottom span {
    text-align: center;
  }
}
@media (max-width:600px) {
  .news__wrapper {
    margin-bottom: 0;
  }
  .news__form {
    text-align: center;
  }
  .news__form div {
    margin-bottom: 0;
  }
  .news__form-input {
    width: 100%;
    text-align: center;
  }
  .news__form-btn {
    width: unset;
    margin: 15px 0;
  }
  .news__form-text {
    font-size: 12px;
  }
  .footer__top {
    padding: 80px 0;
  }
  .footer__title {
    margin-bottom: 10px;
  }
}
@media (max-width:560px) {
  .hero {
    height: 516px;
  }
  .offer__wrapper {
    display: block;
  }
  .offer__pictures {
    display: none;
  }
  .hero__form {
    padding: 0;
    background-color: unset;
    backdrop-filter: unset;
    justify-content: left;
  }
  .hero__data { 
    display: none;
  }
  .form {
    display: none;
  }
  .news__title {
    font-size: 20px;
  }
  .footer__title {
    font-size: 18px;
  }
  .footer__list {
    gap: 8px;
  }
}
@media (max-width:425px) {
  .hero__title {
    font-size: 20px;
  }
  .news__form-btn {
    font-size: 14px;
  }
  .news__content {
    padding: 10px 0 40px 0;
  }
}